<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-home me-2"></i>Démo SF</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-store me-2"></i>Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart me-2"></i> 0 produit(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-comments me-2"></i>Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user me-2"></i>
                        Connexion
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Connexion/Inscription </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Mon Compte</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Mes Commandes</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Déconnexion</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"
                    data-toggle="tooltip" title="Ne devra être visible que pour l'Admin" data-placement="right"
                    data-html="true">
                <span class="nav-link disabled" href="">
                    <i class="fas fa-tools me-2"></i> BackOffice
                </span>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

{#            TODO Rendre dynamique avec un for#}
            <ul class="navbar-nav my-0">
                <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('images/flags/franceflag.png') }}" alt="Fr" width="24" height="24">
                </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03" style="min-width: 5rem;">
                        <a class="dropdown-item" href="/mi5/en">
                            <img src="{{ asset('images/flags/usaflag.png') }}" alt="En" width="24" height="24">
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>